.container#hover-page
    .items
        .item.item1
            .img-warpper
                img(src="001.jpg")
            .contenr-warpper
                p 當我們認為自己不能失敗，不能接受終有一天一切都會結束、我們必定會死去，那就會在生活中產生各種不滿和抱怨。如果是正面積極一點的人，就會逼迫自己不斷向上、追求更完美的自己，甚至可能把自己逼至絕境；負面一點的人，就會開始怪罪他人、怪罪社會，把時間都花在抗議和鬥爭。─《別讓世界的單薄，奪去你生命的厚度》
        .item.item2
        .item.item3
        .item.item4
        .item.item5
    .items
    .items
    .items
    .items
    .items